#plugin-request-navigator-hub .tab-dropdown {
  .button {
    padding: 8px 11px;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
    color: var(--hl);
    white-space: nowrap;

    .counter {
      margin-right: 5px;
    }

    &:hover {
      background-color: var(--hl-xs);
    }
  }

  ul {
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: var(--color-bg);
    border: solid 1px var(--hl-xs);
    margin-top: 1px;

    li {
      color: var(--hl);
      padding: 9px 28px 9px 25px;
      background-color: var(--hl-xxs);
      border-bottom: solid 1px var(--hl-xs);
      cursor: pointer;
      position: relative;

      .title {
        .method {
          opacity: 0.6;
          color: var(--color-info);
          margin-right: 5px;

          &.get {
            color: var(--color-surprise);
          }

          &.post {
            color: var(--color-success);
          }

          &.put {
            color: var(--color-warning);
          }

          &.patch {
            color: var(--color-notice);
          }

          &.delete {
            color: var(--color-danger);
          }
        }
      }

      &:last-child {
        border-bottom: none;
      }

      .btn-close {
        position: absolute;
        color: var(--hl);
        top: 0;
        bottom: 0;
        right: 0;
        padding: 0 9px 0 8px;
        display: flex;
        align-items: center;
        padding-top: 1px;
        opacity: 0;
        transition:
          color 0.1s ease-in-out,
          opacity 0.1s ease-in-out;

        &:hover {
          color: var(--color-font);
          background-color: var(--hl-xs);
        }
      }

      &:hover {
        .btn-close {
          opacity: 1;
        }
      }

      &:hover,
      &.active {
        background-color: var(--hl-xs);
        color: var(--color-font);
      }
    }
  }
}
