.plugin-request-navigator-tab-button {
  position: relative;
  color: var(--hl);
  padding: 7px 21px 8px 14px;
  background-color: var(--hl-xs);
  border-radius: 3px 3px 0 0;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: none;
  max-width: 200px;
  // min-width: 30px;
  text-align: center;
  white-space: nowrap;

  .title {
    transition:
      margin-left 0.05s ease-in-out,
      margin-right 0.05s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .method {
    opacity: 0.6;
    color: var(--color-info);
    margin-right: 5px;

    &.get {
      color: var(--color-surprise);
    }

    &.post {
      color: var(--color-success);
    }

    &.put {
      color: var(--color-warning);
    }

    &.patch {
      color: var(--color-notice);
    }

    &.delete {
      color: var(--color-danger);
    }
  }

  .btn-close {
    position: absolute;
    color: var(--hl);
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 7px 0 5px;
    display: flex;
    align-items: center;
    padding-top: 1px;
    transition:
      color 0.2s ease-in-out,
      opacity 0.2s ease-in-out 0.1s;

    &:before {
      $size: 8px;
      content: "";
      height: 100%;
      width: $size;
      position: absolute;
      left: 0;
      margin-left: -$size;
      background: linear-gradient(90deg, transparent 0%, var(--hl-xs) 100%);
      opacity: 0;
    }

    &:hover {
      opacity: 1;
      color: var(--color-font);
      background-color: var(--hl-xs);

      &:before {
        opacity: 1;
      }
    }
  }

  &.active,
  &:hover {
    color: var(--color-font);

    .method {
      opacity: 1;
    }
  }

  &.active {
    border: 1px solid var(--hl-md);
    border-bottom: none;

    .btn-close {
      opacity: 1;
    }
  }

  &.hidden {
    visibility: visible;
    pointer-events: none;
    opacity: 0.4;
    border: none;
    display: block !important;

    .title {
      opacity: 0;
    }
  }

  &:has(.btn-close:hover) {
    color: var(--hl) !important;
  }
}

#plugin-request-navigator-hub .plugin-request-navigator-tab-button {
  transition:
    color 0.1s ease-in-out,
    transform 0.2s ease-in-out;
}
